<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Film List</title>
  <th:block th:include="fragments/cdn.html :: head-bs"></th:block>
  <th:block th:include="fragments/custom.html :: head-css-global"></th:block>
</head>
<header>
  <div th:replace="fragments/header.html::header"></div>
</header>
<title>Film List</title>
<body>

<h1>All films in database: </h1>
<section>
  <div class="row g-0">
    <div class="col-md-8">
          <div class="card mb-3" style="max-width: 540px">
            <div class="card-body">
              <form class="d-flex align-items-center">
                <i class="fas fa-search d-none d-sm-block h4 text-body m-0"></i>
                <input name="title"
                       class="form-control form-control-lg flex-shrink-1 form-control-borderless"
                       type="search"
                       placeholder="Search"
                       aria-label="Search"/>
                <button class="btn btn-success btn-lg" type="submit">Search</button>
              </form>
        </div>
      </div>
    </div>
  </div>
  <div th:if="${(param.title != null)}" class="mb-3">Search results for: "<span th:text="${param.title}"></span>"</div>
</section>
<section>
  <div th:each="film : ${kumquat}" class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img
        th:src="${film.filmImageUrl}"
        alt="..."
        class="img-fluid"/>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" th:text="${film.title}">Card title</h5>
          <p class="card-text" th:text="${film.releaseDate.getYear()}"></p>
          <p class="card-text">
            <small class="text-muted">
              <span>Detail:</span><br>
              <a th:href="@{'/films/' + ${film.id} }"
                 th:text="${film.title}"></a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

</section>
</body>
<th:block th:include="fragments/cdn.html :: script-bs"></th:block>
</html>