<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<header>
  <div th:replace="fragments/header.html::header"></div>

  <th:block th:include="fragments/cdn.html :: head-bs"></th:block>
  <th:block th:include="fragments/custom.html :: head-css-global"></th:block>
</header>
<title>Home Page</title>
<body>

<h2>Welcome to...</h2>
<h1>Spring Films MVC</h1>
<section>
  <img th:src="@{/img/logo.png}" alt="...">

</section>
</body>
<th:block th:include="fragments/cdn.html :: script-bs"></th:block>
</html>
