<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <th:block th:include="fragments/cdn.html :: head-bs"></th:block>
  <th:block th:include="fragments/custom.html :: head-css-global"></th:block>
  <link rel="stylesheet" th:href="@{~/css/register.css}">
</head>
  <div th:replace="fragments/header.html::header"></div>

<body>
<form method="post" th:action="@{/register}" th:object="${inkBlot}">
  <label for="username">Username</label>
  <input type="text" id="username" th:field="*{username}" required>
  <label for="txtNewpassword">Password</label>
  <input type="password" id="txtNewpassword" onKeyUp="checkPasswordMatch()" th:field="*{password}" required>
  <label for="txtConfirmpassword">Confirm password</label>
  <input type="password" id="txtConfirmpassword" onKeyUp="checkPasswordMatch()" required>
  </div>
  <div class="registrationFormAlert" id="divCheckPasswordMatch">
  </div>
  <button type="submit" value="register">Submit</button>
</form>


<div className="tutorial-wrapper">
  <form>
    <div class="field-wrapper">
      <label For="password2">Password:</label>
      <input type="password" name="password" id="password2" onKeyUp="checkPass();">
    </div>
    <div class="field-wrapper">
      <label For="confirm2">Confirm Password:</label>
      <input type="password" name="confirm" id="confirm2" onKeyUp="checkPass();">
      <span id="confirm-message2" class="confirm-message"></span>
    </div>
  </form>
</div>


</body>
<!--<th:block th:include="fragments/cdn.html :: script-bs"></th:block>-->
<!--<th:block th:include="fragments/custom.html :: js-password-match"></th:block>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">

</script>
<!--<script  src="/js/passwordMatch.js"></script>-->
<script th:src="@{~/js/passwordMatch.js}"></script>
</html>